@model  CRUDApp.Models.Employee

<form asp-action="Delete" asp-area="Employees" method="post">
    <input type="hidden" asp-for="Id">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="Name">Nama</label>
                <input asp-for="Name" type="text" disabled class="form-control" placeholder="Masukkan Nama Karyawan" tabindex="1">
            </div>
            <div class="form-group">
                <label for="Position">Posisi</label>
                <input asp-for="Position" type="text" disabled class="form-control" placeholder="Masukkan Posisi Karyawan" tabindex="2">
            </div>
            <div class="form-group">
                <label for="Division">Divisi</label>
                <input asp-for="Division" type="text" disabled class="form-control" placeholder="Masukkan Divisi Karyawan" tabindex="3">
            </div>
            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="card-footer">
                <center>
                    <button type="submit" class="btn btn-danger">Hapus Karyawan</button>
                    <a asp-action="Index" asp-controller="Employees" class="btn btn-secondary">Batal</a>
                </center>
            </div>
        </div>
    </div>
</form>